<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <title>404</title>
      {{> common/meta/header }}
  </head>
  <body>
    <h1>404: Четыреста четыре</h1>
    По линку {{ path }} ничего нет!
  </body>
</html>